body {
    margin: 3px;
}

/* .my-container {
    border: 1px solid blue;
}*/

.top-row {
    /* border: 1px solid lightsalmon; */
    margin-top: 100px;
}

.topnav-right {
    /* border: 1px solid lightsalmon; */
    float: right;
}

.topnav-left {
    /* border: 1px solid lightsalmon; */
    float: left;
}

.collapsibleNavbar {
    /* border: 1px solid lightsalmon; */
    float: left;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.10);
}

.dropdown-item {
    transition: all 0.1s;
}

.dropdown-item:hover {
    transform: scale(1.03);
}
.dropdown-menu{
    text-align:center;
}
